.horizontal-tab-selector {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid var(--semantic-color-monochrome-border-normal-mid);
    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--core-spacing-400) var(--core-spacing-800);
        background: transparent;
        border: none;
        color: var(--component-textIcon-normal-default);
        font-size: var(--semantic-typography-body-md-bold-default-fontSize);
        line-height: 2rem;
        font-weight: 400;
        cursor: pointer;
        transition: all 0.2s ease;
        white-space: nowrap;
        flex: 1 1 0;

        &:hover {
            font-weight: bold;
        }

        &--selected {
            color: var(--component-textIcon-normal-prominent);
            font-weight: 700;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: calc(100% - 2 * var(--core-spacing-800));
                height: 0.4rem;
                background-color: var(--custom-indicator-red);
                border-radius: 50px;
            }
        }
    }
}
